<window id="4">
	<defaultcontrol always="true">10</defaultcontrol>
	<controls>
	
	<control type="button" id="10">
		<onfocus>ReplaceWindow(Home)</onfocus>
		<texturenofocus>-</texturenofocus>
		<texturefocus>-</texturefocus>
		<animation effect="fade" delay="0" end="100">Focus</animation>
	</control>
	
	</controls>
</window>
